USE [CampusServicesPortalDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserDisplayName] [nvarchar](150) NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[EntityId] [nvarchar](100) NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[IsReviewed] [bit] NOT NULL,
	[ReviewedBy] [nvarchar](150) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[TraceId] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[BeforeValuesJson] [nvarchar](max) NULL,
	[AfterValuesJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificateRequests]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CertificateTypeId] [int] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CertificateRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificateTypes]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CertificateTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintCategories]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ComplaintCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ResolutionNote] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventRegistrations]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EventRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VenueId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Faculties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeePayments]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[FeeTypeId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BillingPeriod] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FeePayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeTypes]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FeeTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostelApplications]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostelApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[PreferredHostelId] [int] NOT NULL,
	[TermSemester] [nvarchar](50) NOT NULL,
	[SpecialRequirements] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AssignedRoomId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HostelApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hostels]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Hostels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabBookings]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabBookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LabId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[SeatId] [int] NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[TimeSlotId] [int] NULL,
	[TimeSlot] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LabBookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabBookingTimeSlots]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabBookingTimeSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LabId] [int] NOT NULL,
	[StartTime] [nvarchar](10) NOT NULL,
	[EndTime] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_LabBookingTimeSlots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labs]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LabType] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TotalRows] [int] NULL,
	[TotalColumns] [int] NULL,
 CONSTRAINT [PK_Labs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabSeats]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabSeats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LabId] [int] NOT NULL,
	[SeatNumber] [nvarchar](20) NOT NULL,
	[RowIndex] [int] NOT NULL,
	[ColumnIndex] [int] NOT NULL,
	[IsBroken] [bit] NOT NULL,
 CONSTRAINT [PK_LabSeats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordHistories]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[Token] [nvarchar](100) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HostelId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAddresses]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[AddressType] [nvarchar](max) NOT NULL,
	[AddressLine1] [nvarchar](max) NOT NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NOT NULL,
	[DistrictOrProvince] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_StudentAddresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMasterLists]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMasterLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndexNumber] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[FacultyId] [int] NOT NULL,
 CONSTRAINT [PK_StudentMasterLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPhoneNumbers]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPhoneNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[PhoneType] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](450) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_StudentPhoneNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IndexNumber] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[FacultyId] [int] NOT NULL,
	[ContactDetails] [nvarchar](450) NULL,
	[EmailVerified] [bit] NOT NULL,
	[EmailVerificationToken] [nvarchar](max) NULL,
	[EmailVerificationTokenExpiresAt] [datetime2](7) NULL,
	[DeactivatedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastPasswordChangedAt] [datetime2](7) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[TemporaryPasswordExpiresAt] [datetime2](7) NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutEndUtc] [datetime2](7) NULL,
	[FullName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venues]    Script Date: 9/14/2026 9:06:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Venues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260909120549_AddLabBookingTimeSlots', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260910054837_test', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260910101631_AddMissingUniquenessConstraints', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserDisplayName], [Action], [Module], [EntityId], [Timestamp], [IsSuccess], [IsReviewed], [ReviewedBy], [ReviewedAt], [IpAddress], [TraceId], [Description], [BeforeValuesJson], [AfterValuesJson]) VALUES (10480, NULL, N'System Internal', N'Update', N'Auth', N'1021', CAST(N'2026-09-14T03:13:40.0128054' AS DateTime2), 1, 1, NULL, NULL, N'127.0.0.1', N'0HNOI1O5VOA68:00000007', N'Updated properties on User #1021.', N'{"FailedLoginAttempts":0}', N'{"FailedLoginAttempts":1}')
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserDisplayName], [Action], [Module], [EntityId], [Timestamp], [IsSuccess], [IsReviewed], [ReviewedBy], [ReviewedAt], [IpAddress], [TraceId], [Description], [BeforeValuesJson], [AfterValuesJson]) VALUES (10481, 1021, N'ratnadeepak@yahoo.com', N'LoginFailure', N'Auth', N'1021', CAST(N'2026-09-14T03:13:40.1638008' AS DateTime2), 0, 0, NULL, NULL, N'127.0.0.1', N'0HNOI1O5VOA68:00000007', N'Failed login attempt for ''ratnadeepak@yahoo.com'': Invalid credentials provided.', NULL, NULL)
INSERT [dbo].[AuditLogs] ([Id], [UserId], [UserDisplayName], [Action], [Module], [EntityId], [Timestamp], [IsSuccess], [IsReviewed], [ReviewedBy], [ReviewedAt], [IpAddress], [TraceId], [Description], [BeforeValuesJson], [AfterValuesJson]) VALUES (10482, NULL, N'System Internal', N'Update', N'Auth', N'1021', CAST(N'2026-09-14T03:13:42.6835194' AS DateTime2), 1, 1, NULL, NULL, N'127.0.0.1', N'0HNOI1O5VOA68:00000009', N'Updated properties on User #1021.', N'{"FailedLoginAttempts":1}', N'{"FailedLoginAttempts":0}')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[CertificateRequests] ON 

INSERT [dbo].[CertificateRequests] ([Id], [StudentId], [CertificateTypeId], [Reason], [Status], [RequestedAt]) VALUES (1, 1, 2, N'sddererereerererr', N'Ready for Collection', CAST(N'2026-09-10T06:27:48.0141325' AS DateTime2))
INSERT [dbo].[CertificateRequests] ([Id], [StudentId], [CertificateTypeId], [Reason], [Status], [RequestedAt]) VALUES (2, 1, 1, N'sdsddssddfdfdf', N'Ready for Collection', CAST(N'2026-09-10T06:33:58.8476345' AS DateTime2))
INSERT [dbo].[CertificateRequests] ([Id], [StudentId], [CertificateTypeId], [Reason], [Status], [RequestedAt]) VALUES (3, 2, 1, N'dsdsdsdsdsds', N'Ready for Collection', CAST(N'2026-09-10T07:52:41.3939241' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CertificateRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[CertificateTypes] ON 

INSERT [dbo].[CertificateTypes] ([Id], [Name], [IsActive]) VALUES (1, N'Official Academic Transcript', 1)
INSERT [dbo].[CertificateTypes] ([Id], [Name], [IsActive]) VALUES (2, N'Bonafide Student Status Letter', 1)
INSERT [dbo].[CertificateTypes] ([Id], [Name], [IsActive]) VALUES (3, N'sdsdsdsd', 1)
SET IDENTITY_INSERT [dbo].[CertificateTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ComplaintCategories] ON 

INSERT [dbo].[ComplaintCategories] ([Id], [Name], [IsActive]) VALUES (1, N'Hostel Room Maintenance', 1)
INSERT [dbo].[ComplaintCategories] ([Id], [Name], [IsActive]) VALUES (2, N'Network WiFi Interruption', 1)
INSERT [dbo].[ComplaintCategories] ([Id], [Name], [IsActive]) VALUES (3, N'Library Access', 1)
SET IDENTITY_INSERT [dbo].[ComplaintCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

INSERT [dbo].[Complaints] ([Id], [StudentId], [CategoryId], [Description], [Status], [ResolutionNote], [CreatedAt]) VALUES (1, 1, 1, N'[Building: sds, Room: sdsd] - sddsdsdsdsdsdds', N'Resolved', N'sdsdsdsdsds', CAST(N'2026-09-10T06:27:41.1998354' AS DateTime2))
INSERT [dbo].[Complaints] ([Id], [StudentId], [CategoryId], [Description], [Status], [ResolutionNote], [CreatedAt]) VALUES (2, 1, 2, N'cdfgdfgdgdggfg', N'Resolved', N'dffedfdfdfesf', CAST(N'2026-09-10T06:34:11.3902300' AS DateTime2))
INSERT [dbo].[Complaints] ([Id], [StudentId], [CategoryId], [Description], [Status], [ResolutionNote], [CreatedAt]) VALUES (3, 2, 1, N'[Building: wdd, Room: sdsd] - sdsdsdsdsd', N'Resolved', N'dswdsdsdsdsdd', CAST(N'2026-09-10T07:52:35.6433402' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON 

INSERT [dbo].[EventRegistrations] ([Id], [EventId], [StudentId], [Status], [ExpiresAt]) VALUES (1, 2, 1, N'Expired', CAST(N'2026-09-10T06:42:32.1871887' AS DateTime2))
INSERT [dbo].[EventRegistrations] ([Id], [EventId], [StudentId], [Status], [ExpiresAt]) VALUES (2, 2, 4, N'Expired', CAST(N'2026-09-11T09:03:39.1018066' AS DateTime2))
INSERT [dbo].[EventRegistrations] ([Id], [EventId], [StudentId], [Status], [ExpiresAt]) VALUES (4, 3, 2, N'Expired', CAST(N'2026-09-11T10:57:09.9096453' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [VenueId], [Title], [StartDateTime], [EndDateTime], [Capacity], [Description]) VALUES (1, 1, N'Sprots Meet', CAST(N'2026-09-10T06:30:00.0000000' AS DateTime2), CAST(N'2026-09-10T09:30:00.0000000' AS DateTime2), 100, NULL)
INSERT [dbo].[Events] ([Id], [VenueId], [Title], [StartDateTime], [EndDateTime], [Capacity], [Description]) VALUES (2, 3, N'Ai Confreence', CAST(N'2026-09-15T06:30:00.0000000' AS DateTime2), CAST(N'2026-09-15T08:30:00.0000000' AS DateTime2), 100, NULL)
INSERT [dbo].[Events] ([Id], [VenueId], [Title], [StartDateTime], [EndDateTime], [Capacity], [Description]) VALUES (3, 1, N'Annual Meeting', CAST(N'2026-09-20T06:30:00.0000000' AS DateTime2), CAST(N'2026-09-20T08:30:00.0000000' AS DateTime2), 100, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([Id], [Name], [IsActive]) VALUES (1, N'Faculty of Computing', 1)
INSERT [dbo].[Faculties] ([Id], [Name], [IsActive]) VALUES (2, N'Faculty of Engineering', 1)
INSERT [dbo].[Faculties] ([Id], [Name], [IsActive]) VALUES (3, N'Faculty of Business Management', 1)
SET IDENTITY_INSERT [dbo].[Faculties] OFF
GO
SET IDENTITY_INSERT [dbo].[FeePayments] ON 

INSERT [dbo].[FeePayments] ([Id], [StudentId], [FeeTypeId], [Amount], [BillingPeriod], [Description], [Status], [PaidAt]) VALUES (1, 1, 1, CAST(1000.00 AS Decimal(18, 2)), N'2026 Period', N'Standard fee assignment due by 2026-10-10', N'Paid', CAST(N'2026-09-10T06:38:11.2116813' AS DateTime2))
INSERT [dbo].[FeePayments] ([Id], [StudentId], [FeeTypeId], [Amount], [BillingPeriod], [Description], [Status], [PaidAt]) VALUES (2, 1, 1, CAST(500.00 AS Decimal(18, 2)), N'2026 Period', N'Faculty cohort fee run due by 2026-10-11', N'Outstanding', NULL)
INSERT [dbo].[FeePayments] ([Id], [StudentId], [FeeTypeId], [Amount], [BillingPeriod], [Description], [Status], [PaidAt]) VALUES (3, 2, 1, CAST(400.00 AS Decimal(18, 2)), N'2026 Period', N'Faculty cohort fee run due by 2026-10-11', N'Outstanding', NULL)
SET IDENTITY_INSERT [dbo].[FeePayments] OFF
GO
SET IDENTITY_INSERT [dbo].[FeeTypes] ON 

INSERT [dbo].[FeeTypes] ([Id], [Name], [IsActive]) VALUES (1, N'Tuition Fee', 1)
INSERT [dbo].[FeeTypes] ([Id], [Name], [IsActive]) VALUES (2, N'Lab Fine / Equipment Fee', 1)
INSERT [dbo].[FeeTypes] ([Id], [Name], [IsActive]) VALUES (3, N'Hostel Accommodation Fee', 1)
SET IDENTITY_INSERT [dbo].[FeeTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[HostelApplications] ON 

INSERT [dbo].[HostelApplications] ([Id], [StudentId], [PreferredHostelId], [TermSemester], [SpecialRequirements], [Status], [AssignedRoomId], [CreatedAt]) VALUES (3, 2, 2, N'2025/2026 / Semester 1', N'test', N'RoomAssigned', 6, CAST(N'2026-09-11T10:42:05.4264763' AS DateTime2))
INSERT [dbo].[HostelApplications] ([Id], [StudentId], [PreferredHostelId], [TermSemester], [SpecialRequirements], [Status], [AssignedRoomId], [CreatedAt]) VALUES (4, 8, 1, N'2025/2026 / Semester 1', N'testt', N'Pending', NULL, CAST(N'2026-09-11T10:51:35.2268302' AS DateTime2))
INSERT [dbo].[HostelApplications] ([Id], [StudentId], [PreferredHostelId], [TermSemester], [SpecialRequirements], [Status], [AssignedRoomId], [CreatedAt]) VALUES (5, 10, 1, N'2025/2026 / Semester 1', N'GHFGHFH', N'RoomAssigned', 12, CAST(N'2026-09-11T11:30:20.3724941' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HostelApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Hostels] ON 

INSERT [dbo].[Hostels] ([Id], [Name], [IsActive]) VALUES (1, N'Oxfad hall Boys', 1)
INSERT [dbo].[Hostels] ([Id], [Name], [IsActive]) VALUES (2, N'Lady hall girls', 1)
INSERT [dbo].[Hostels] ([Id], [Name], [IsActive]) VALUES (3, N'tessss', 1)
SET IDENTITY_INSERT [dbo].[Hostels] OFF
GO
SET IDENTITY_INSERT [dbo].[LabBookings] ON 

INSERT [dbo].[LabBookings] ([Id], [LabId], [StudentId], [SeatId], [BookingDate], [TimeSlotId], [TimeSlot], [Status], [ExpiresAt]) VALUES (1, 3, 1, 3, CAST(N'2026-09-10T00:00:00.0000000' AS DateTime2), NULL, N'09:00 AM - 11:00 AM', N'Confirmed', CAST(N'2026-09-10T06:42:15.4990034' AS DateTime2))
INSERT [dbo].[LabBookings] ([Id], [LabId], [StudentId], [SeatId], [BookingDate], [TimeSlotId], [TimeSlot], [Status], [ExpiresAt]) VALUES (2, 3, 1, 3, CAST(N'2026-09-10T00:00:00.0000000' AS DateTime2), NULL, N'11:00 AM - 01:00 PM', N'Confirmed', CAST(N'2026-09-10T06:42:26.0502116' AS DateTime2))
INSERT [dbo].[LabBookings] ([Id], [LabId], [StudentId], [SeatId], [BookingDate], [TimeSlotId], [TimeSlot], [Status], [ExpiresAt]) VALUES (3, 5, 1, NULL, CAST(N'2026-09-11T00:00:00.0000000' AS DateTime2), NULL, N'02:00 PM - 04:00 PM', N'Confirmed', CAST(N'2026-09-10T07:07:52.0340987' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LabBookings] OFF
GO
SET IDENTITY_INSERT [dbo].[LabBookingTimeSlots] ON 

INSERT [dbo].[LabBookingTimeSlots] ([Id], [LabId], [StartTime], [EndTime], [IsActive], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (9, 3, N'09:00 AM', N'11:00 AM', 1, 1, CAST(N'2026-09-10T06:16:51.4471608' AS DateTime2), NULL)
INSERT [dbo].[LabBookingTimeSlots] ([Id], [LabId], [StartTime], [EndTime], [IsActive], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (10, 3, N'11:00 AM', N'01:00 PM', 1, 2, CAST(N'2026-09-10T06:16:51.4476429' AS DateTime2), NULL)
INSERT [dbo].[LabBookingTimeSlots] ([Id], [LabId], [StartTime], [EndTime], [IsActive], [DisplayOrder], [CreatedAt], [UpdatedAt]) VALUES (11, 3, N'02:00 PM', N'04:00 PM', 1, 3, CAST(N'2026-09-10T06:16:51.4476431' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[LabBookingTimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Labs] ON 

INSERT [dbo].[Labs] ([Id], [Name], [LabType], [Capacity], [IsActive], [TotalRows], [TotalColumns]) VALUES (3, N'PC Lab1', N'Computer', 24, 1, 4, 6)
INSERT [dbo].[Labs] ([Id], [Name], [LabType], [Capacity], [IsActive], [TotalRows], [TotalColumns]) VALUES (4, N'Advance Data lab', N'Computer', 30, 1, 5, 6)
INSERT [dbo].[Labs] ([Id], [Name], [LabType], [Capacity], [IsActive], [TotalRows], [TotalColumns]) VALUES (5, N'CHEMISTORY lab', N'Science', 30, 1, 4, 6)
SET IDENTITY_INSERT [dbo].[Labs] OFF
GO
SET IDENTITY_INSERT [dbo].[LabSeats] ON 

INSERT [dbo].[LabSeats] ([Id], [LabId], [SeatNumber], [RowIndex], [ColumnIndex], [IsBroken]) VALUES (2, 3, N'LAB3-PC-R1C1', 1, 1, 0)
INSERT [dbo].[LabSeats] ([Id], [LabId], [SeatNumber], [RowIndex], [ColumnIndex], [IsBroken]) VALUES (3, 3, N'LAB3-PC-R1C6', 1, 6, 0)
INSERT [dbo].[LabSeats] ([Id], [LabId], [SeatNumber], [RowIndex], [ColumnIndex], [IsBroken]) VALUES (4, 3, N'LAB3-PC-R2C6', 2, 6, 0)
SET IDENTITY_INSERT [dbo].[LabSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [StudentId], [Type], [Message], [IsRead], [CreatedAt]) VALUES (1, 1, N'EventRegistrationHeld', N'Reservation hold initiated! A seat for ''Ai Confreence'' at venue ''Confreence Room'' has been temporarily locked for you. Complete confirmation within 15 minutes.', 1, CAST(N'2026-09-10T06:27:32.1926811' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [StudentId], [Type], [Message], [IsRead], [CreatedAt]) VALUES (2, 1, N'HostelRoomAssigned', N'Your dynamic accommodation keys have been verified. You are assigned to Room Number: 1001.', 1, CAST(N'2026-09-10T06:35:17.7580400' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [StudentId], [Type], [Message], [IsRead], [CreatedAt]) VALUES (3, 1, N'HostelRoomAssigned', N'Your dynamic accommodation keys have been verified. You are assigned to Room Number: 1001.', 1, CAST(N'2026-09-10T06:35:17.7580400' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordHistories] ON 

INSERT [dbo].[PasswordHistories] ([Id], [UserId], [PasswordHash], [PasswordSalt], [CreatedAt]) VALUES (1009, 15, N'$2a$11$23Woro902BBhXBOHNX3GuuICApGudsRVQwMXhZ1nM8RNJ6SeU4Vza', N'', CAST(N'2026-09-13T03:37:43.3392013' AS DateTime2))
INSERT [dbo].[PasswordHistories] ([Id], [UserId], [PasswordHash], [PasswordSalt], [CreatedAt]) VALUES (1010, 1021, N'$2a$11$lkBRxtwsUDqaJtuG.qriyeQw7FANo/Syq1WwwV3QfWwzFAWugAW12', N'', CAST(N'2026-09-13T04:19:54.4235548' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PasswordHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([Id], [StudentId], [Token], [ExpiresAt], [IsUsed]) VALUES (1, 1, N'bb107ebc18ee4e17bff80078b0991b97', CAST(N'2026-09-11T06:54:21.2089755' AS DateTime2), 1)
INSERT [dbo].[PasswordResetTokens] ([Id], [StudentId], [Token], [ExpiresAt], [IsUsed]) VALUES (2, 1, N'c69959b021d749e69996f807096cfc7b', CAST(N'2026-09-11T06:54:21.2089665' AS DateTime2), 1)
INSERT [dbo].[PasswordResetTokens] ([Id], [StudentId], [Token], [ExpiresAt], [IsUsed]) VALUES (3, 10, N'c3948192b6054735a964a8103621cc88', CAST(N'2026-09-12T11:23:50.7016387' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByToken]) VALUES (6, 2, N'wEDUfvWam9w87n392SHOmO9CMNfg70t9+2FUHfRuFUfqPscL/aMy2XYsYwowwfjqNqgmv1UsSsB+Z9+ifZ1aoA==', CAST(N'2026-09-17T06:26:49.8674552' AS DateTime2), CAST(N'2026-09-10T06:26:49.8674561' AS DateTime2), CAST(N'2026-09-10T06:54:21.2373993' AS DateTime2), NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByToken]) VALUES (7, 2, N'v1GfFahp7YKaB0Bdyop6ZXI8LaYHYF+NHMcXt63BL6AnMKOKqt8GK6m11tMBAuSaYAnAZ/qvu4A6WJmMGyvnXg==', CAST(N'2026-09-17T06:34:29.7535030' AS DateTime2), CAST(N'2026-09-10T06:34:29.7535036' AS DateTime2), CAST(N'2026-09-10T06:54:21.2374892' AS DateTime2), NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserId], [Token], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByToken]) VALUES (9, 2, N'p51+U0RNsfBh5HVtTNlKw+zI7fAxJVrxPcH6Nso5e48sjJo+7cHt3bkF4Ne2N7M45KEMivr7diCJqJuwhRR6Sg==', CAST(N'2026-09-17T06:36:54.8605459' AS DateTime2), CAST(N'2026-09-10T06:36:54.8605462' AS DateTime2), CAST(N'2026-09-10T06:54:21.2374894' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [HostelId], [RoomNumber], [MaxCapacity], [IsActive]) VALUES (1, 2, N'101', 2, 1)
INSERT [dbo].[Rooms] ([Id], [HostelId], [RoomNumber], [MaxCapacity], [IsActive]) VALUES (2, 2, N'101B', 2, 1)
INSERT [dbo].[Rooms] ([Id], [HostelId], [RoomNumber], [MaxCapacity], [IsActive]) VALUES (3, 2, N'102', 2, 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAddresses] ON 

INSERT [dbo].[StudentAddresses] ([Id], [StudentId], [AddressType], [AddressLine1], [AddressLine2], [City], [DistrictOrProvince], [PostalCode], [Country], [IsPrimary]) VALUES (1, 1, N'Permanent', N'14 temple road', N'', N'kottana', N'Colombo', N'0056', N'Sri Lanka', 1)
INSERT [dbo].[StudentAddresses] ([Id], [StudentId], [AddressType], [AddressLine1], [AddressLine2], [City], [DistrictOrProvince], [PostalCode], [Country], [IsPrimary]) VALUES (2, 2, N'Permanent', N'kovilady', N'', N'pandatarippu', N'Jaffna', N'0045', N'Sri Lanka', 1)
INSERT [dbo].[StudentAddresses] ([Id], [StudentId], [AddressType], [AddressLine1], [AddressLine2], [City], [DistrictOrProvince], [PostalCode], [Country], [IsPrimary]) VALUES (3, 4, N'Permanent', N'13 raja road', N'', N'pavavi', N'Puttalam', N'0060', N'Sri Lanka', 1)
SET IDENTITY_INSERT [dbo].[StudentAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentMasterLists] ON 

INSERT [dbo].[StudentMasterLists] ([Id], [IndexNumber], [FullName], [FacultyId]) VALUES (1, N'STU/2026/020', N'Nimal Perera', 1)
INSERT [dbo].[StudentMasterLists] ([Id], [IndexNumber], [FullName], [FacultyId]) VALUES (2, N'STU/2026/021', N'Fatima Rizwan', 3)
INSERT [dbo].[StudentMasterLists] ([Id], [IndexNumber], [FullName], [FacultyId]) VALUES (3, N'STU/2026/022', N'Kasun Fernando', 2)
SET IDENTITY_INSERT [dbo].[StudentMasterLists] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentPhoneNumbers] ON 

INSERT [dbo].[StudentPhoneNumbers] ([Id], [StudentId], [PhoneType], [PhoneNumber], [IsPrimary], [IsVerified]) VALUES (1, 1, N'Primary Mobile', N'+9412345678', 1, 1)
INSERT [dbo].[StudentPhoneNumbers] ([Id], [StudentId], [PhoneType], [PhoneNumber], [IsPrimary], [IsVerified]) VALUES (2, 2, N'Primary Mobile', N'+9434567891', 1, 1)
INSERT [dbo].[StudentPhoneNumbers] ([Id], [StudentId], [PhoneType], [PhoneNumber], [IsPrimary], [IsVerified]) VALUES (3, 4, N'Primary Mobile', N'+94123456789', 1, 1)
SET IDENTITY_INSERT [dbo].[StudentPhoneNumbers] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [IndexNumber], [FullName], [FacultyId], [ContactDetails], [EmailVerified], [EmailVerificationToken], [EmailVerificationTokenExpiresAt], [DeactivatedAt], [UserId]) VALUES (1, N'STU/2026/010', N'Sahan Silva', 1, N'+9412345678', 1, NULL, NULL, NULL, 2)
INSERT [dbo].[Students] ([Id], [IndexNumber], [FullName], [FacultyId], [ContactDetails], [EmailVerified], [EmailVerificationToken], [EmailVerificationTokenExpiresAt], [DeactivatedAt], [UserId]) VALUES (2, N'STU/2026/021', N'Fatima Rizwan', 3, N'+9434567891', 1, NULL, NULL, NULL, 3)
INSERT [dbo].[Students] ([Id], [IndexNumber], [FullName], [FacultyId], [ContactDetails], [EmailVerified], [EmailVerificationToken], [EmailVerificationTokenExpiresAt], [DeactivatedAt], [UserId]) VALUES (4, N'STU/2026/011', N'Dilini Perera', 1, N'+94123456789', 1, NULL, NULL, NULL, 6)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'AcademicYear', N'2025/2026')
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'AcademicYearEndDate', N'2026-08-31')
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue]) VALUES (N'AcademicYearsList', N'2024/2025,2025/2026,2026/2027')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [LastPasswordChangedAt], [MustChangePassword], [TemporaryPasswordExpiresAt], [FailedLoginAttempts], [LockoutEndUtc], [FullName]) VALUES (2, N'sahan@silva.co.lk', N'$2a$11$3Dbw8l86xRd0ng9ixrzrAuDwcRqEQtuMOAjGCdZRyXgNT.cM/zidC', N'Student', 1, CAST(N'2026-09-10T06:25:21.0437775' AS DateTime2), CAST(N'2026-09-12T08:09:33.9547111' AS DateTime2), 0, NULL, 0, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [LastPasswordChangedAt], [MustChangePassword], [TemporaryPasswordExpiresAt], [FailedLoginAttempts], [LockoutEndUtc], [FullName]) VALUES (3, N'fatima@rizwan.co.lk', N'$2a$11$WJDlIrP6mKv6JiX3Z79qs.wdnrCR4oSjtcvMWKSsQVmcQDZZluKt.', N'Student', 1, CAST(N'2026-09-10T07:51:06.6522936' AS DateTime2), CAST(N'2026-09-10T07:51:06.6521997' AS DateTime2), 0, NULL, 0, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [LastPasswordChangedAt], [MustChangePassword], [TemporaryPasswordExpiresAt], [FailedLoginAttempts], [LockoutEndUtc], [FullName]) VALUES (6, N'dilini@perera.co.lk', N'$2a$11$0bMaYsPE8vl./rICckbaAu0yqAuAcj/QGv1z8VEnFyYllU5F2d13C', N'Student', 1, CAST(N'2026-09-11T07:48:32.9920216' AS DateTime2), CAST(N'2026-09-11T07:48:32.9920211' AS DateTime2), 0, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Venues] ON 

INSERT [dbo].[Venues] ([Id], [Name], [Type], [Capacity], [IsActive]) VALUES (1, N'Great Hall A', N'Event Hall', 150, 1)
INSERT [dbo].[Venues] ([Id], [Name], [Type], [Capacity], [IsActive]) VALUES (2, N'Play Ground', N'Open Space', 1000, 1)
INSERT [dbo].[Venues] ([Id], [Name], [Type], [Capacity], [IsActive]) VALUES (3, N'Confreence Room', N'Event Hall', 100, 1)
SET IDENTITY_INSERT [dbo].[Venues] OFF
GO
ALTER TABLE [dbo].[HostelApplications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CertificateRequests]  WITH CHECK ADD  CONSTRAINT [FK_CertificateRequests_CertificateTypes_CertificateTypeId] FOREIGN KEY([CertificateTypeId])
REFERENCES [dbo].[CertificateTypes] ([Id])
GO
ALTER TABLE [dbo].[CertificateRequests] CHECK CONSTRAINT [FK_CertificateRequests_CertificateTypes_CertificateTypeId]
GO
ALTER TABLE [dbo].[CertificateRequests]  WITH CHECK ADD  CONSTRAINT [FK_CertificateRequests_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[CertificateRequests] CHECK CONSTRAINT [FK_CertificateRequests_Students_StudentId]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_ComplaintCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ComplaintCategories] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_ComplaintCategories_CategoryId]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Students_StudentId]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Events_EventId]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Students_StudentId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Venues_VenueId] FOREIGN KEY([VenueId])
REFERENCES [dbo].[Venues] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Venues_VenueId]
GO
ALTER TABLE [dbo].[FeePayments]  WITH CHECK ADD  CONSTRAINT [FK_FeePayments_FeeTypes_FeeTypeId] FOREIGN KEY([FeeTypeId])
REFERENCES [dbo].[FeeTypes] ([Id])
GO
ALTER TABLE [dbo].[FeePayments] CHECK CONSTRAINT [FK_FeePayments_FeeTypes_FeeTypeId]
GO
ALTER TABLE [dbo].[FeePayments]  WITH CHECK ADD  CONSTRAINT [FK_FeePayments_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[FeePayments] CHECK CONSTRAINT [FK_FeePayments_Students_StudentId]
GO
ALTER TABLE [dbo].[HostelApplications]  WITH CHECK ADD  CONSTRAINT [FK_HostelApplications_Hostels_PreferredHostelId] FOREIGN KEY([PreferredHostelId])
REFERENCES [dbo].[Hostels] ([Id])
GO
ALTER TABLE [dbo].[HostelApplications] CHECK CONSTRAINT [FK_HostelApplications_Hostels_PreferredHostelId]
GO
ALTER TABLE [dbo].[HostelApplications]  WITH CHECK ADD  CONSTRAINT [FK_HostelApplications_Rooms_AssignedRoomId] FOREIGN KEY([AssignedRoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[HostelApplications] CHECK CONSTRAINT [FK_HostelApplications_Rooms_AssignedRoomId]
GO
ALTER TABLE [dbo].[HostelApplications]  WITH CHECK ADD  CONSTRAINT [FK_HostelApplications_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[HostelApplications] CHECK CONSTRAINT [FK_HostelApplications_Students_StudentId]
GO
ALTER TABLE [dbo].[LabBookings]  WITH CHECK ADD  CONSTRAINT [FK_LabBookings_LabBookingTimeSlots_TimeSlotId] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[LabBookingTimeSlots] ([Id])
GO
ALTER TABLE [dbo].[LabBookings] CHECK CONSTRAINT [FK_LabBookings_LabBookingTimeSlots_TimeSlotId]
GO
ALTER TABLE [dbo].[LabBookings]  WITH CHECK ADD  CONSTRAINT [FK_LabBookings_Labs_LabId] FOREIGN KEY([LabId])
REFERENCES [dbo].[Labs] ([Id])
GO
ALTER TABLE [dbo].[LabBookings] CHECK CONSTRAINT [FK_LabBookings_Labs_LabId]
GO
ALTER TABLE [dbo].[LabBookings]  WITH CHECK ADD  CONSTRAINT [FK_LabBookings_LabSeats_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[LabSeats] ([Id])
GO
ALTER TABLE [dbo].[LabBookings] CHECK CONSTRAINT [FK_LabBookings_LabSeats_SeatId]
GO
ALTER TABLE [dbo].[LabBookings]  WITH CHECK ADD  CONSTRAINT [FK_LabBookings_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[LabBookings] CHECK CONSTRAINT [FK_LabBookings_Students_StudentId]
GO
ALTER TABLE [dbo].[LabBookingTimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_LabBookingTimeSlots_Labs_LabId] FOREIGN KEY([LabId])
REFERENCES [dbo].[Labs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabBookingTimeSlots] CHECK CONSTRAINT [FK_LabBookingTimeSlots_Labs_LabId]
GO
ALTER TABLE [dbo].[LabSeats]  WITH CHECK ADD  CONSTRAINT [FK_LabSeats_Labs_LabId] FOREIGN KEY([LabId])
REFERENCES [dbo].[Labs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabSeats] CHECK CONSTRAINT [FK_LabSeats_Labs_LabId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Students_StudentId]
GO
ALTER TABLE [dbo].[PasswordHistories]  WITH CHECK ADD  CONSTRAINT [FK_PasswordHistories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordHistories] CHECK CONSTRAINT [FK_PasswordHistories_Users_UserId]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_Students_StudentId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Hostels_HostelId] FOREIGN KEY([HostelId])
REFERENCES [dbo].[Hostels] ([Id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Hostels_HostelId]
GO
ALTER TABLE [dbo].[StudentAddresses]  WITH CHECK ADD  CONSTRAINT [FK_StudentAddresses_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentAddresses] CHECK CONSTRAINT [FK_StudentAddresses_Students_StudentId]
GO
ALTER TABLE [dbo].[StudentMasterLists]  WITH CHECK ADD  CONSTRAINT [FK_StudentMasterLists_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[StudentMasterLists] CHECK CONSTRAINT [FK_StudentMasterLists_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[StudentPhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_StudentPhoneNumbers_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentPhoneNumbers] CHECK CONSTRAINT [FK_StudentPhoneNumbers_Students_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users_UserId]
GO
